@media screen and (max-width: 1200px) {
  .risk-bg {
    background-position: 500px;
  }
}

@media screen and (max-width: 1065px) {
  .woop > div {
    width: 33%;
  }
  .risk-bg {
    background-position: 300px;
  }
  .subscribe-form form input[type="submit"] {
    width: 200px;
  }
}

@media screen and (max-width: 900px) {
  .header__logo img {
    width: 45%;
  }
  .header__logo h1 {
    font-size: 54px;
  }
  .header__parallax-layer.bg-1 {
    background-position: center;
  }
  .about__block h3 {
    font-size: 24px;
  }
  .about__block p {
    font-size: 18px;
  }
  .package-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .package__block {
    width: 70%;
    margin-bottom: 50px;
  }
  .save-40, .save-131 {
    top: 6px;
    left: 42.5%;
  }
  .save-131 {
    left: 52%;
  }
  .about-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .about__block {
    width: 90%;
    padding-bottom: 34px;
    text-align: center;
  }
  .commitment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .commitment > * {
    width: 100%;
    text-align: center;
  }
  .commitment h2 {
    margin-bottom: 15px;
  }
  .woop {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .woop > div {
    width: 100%;
    max-width: 490px;
  }
  .woop__center {
    margin: 25px 0;
  }
  .shopnow-descr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .shopnow-btn {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 0px;
  }
  .shopnow-descr > * {
    text-align: center;
    width: 100%;
    max-width: 690px;
    margin: 0 auto;
  }
  .information-blocks {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .information-block {
    width: 48%;
    padding: 15px 0;
  }
  .subscribe-form form input[type="email"] {
    width: 63%;
  }
  .subscribe-form form input[type="submit"] {
    width: 120px;
  }
  .subscribe-form form {
    padding-left: 35px;
  }
  .news {
    padding: 50px 0;
  }
  .section-2 {
    padding: 220px 0 180px;
  }
  .commitment {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .about-wrap {
    padding-top: 70px;
  }
  .woop__right > div {
    padding-bottom: 15px;
  }
  header {
    min-height: 100vh;
  }
  .news__h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .news__h2 > * {
    width: 35%;
  }
}

@media screen and (max-width: 700px) {
  .header__logo h1 {
    font-size: 36px;
  }
  .package-about h3 {
    font-size: 24px;
  }
  .package-about .review h4 {
    font-size: 20px;
  }
  .package-about .star.flex {
    padding-bottom: 20px;
  }
  .package-about .review p {
    font-size: 18px;
  }
  .save-40 {
    left: 39.5%;
  }
  .customers-btn a {
    font-size: 20px;
  }
  .commitment h2 {
    font-size: 24px;
  }
  .commitment p {
    font-size: 18px;
  }
  .woop__left h2 {
    font-size: 48px;
  }
  .woop > div {
    text-align: center;
  }
  .woop__left .star-rev {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .woop__left .star-rev p {
    padding-top: 12px;
    padding-left: 0px;
  }
  .woop__left .star-rev {
    padding-bottom: 10px;
  }
  .woop__left h3 {
    font-size: 20px;
    padding-bottom: 10px;
  }
  .woop__left p {
    font-size: 18px;
  }
  .woop__center img {
    height: 220px;
  }
  .woop__right > div p {
    font-size: 18px;
  }
  .news-bg h3 {
    font-size: 36px;
    padding-top: 10px;
  }
  .news-block-text {
    margin-top: 17px;
    font-size: 24px;
  }
  .news__slider {
    margin-top: 50px;
  }
  .shopnow-btn .btn {
    font-size: 24px;
  }
  .shopnow-descr h2 {
    font-size: 42px;
  }
  .shopnow-descr p {
    font-size: 18px;
  }
  .shopnow-bg2,
  .shopnow-bg1 {
    background-size: cover;
  }
  .shopnow-descr {
    padding-bottom: 120px;
  }
  .risk-descr h2 {
    font-size: 48px;
    padding-bottom: 17px;
    text-align: center;
    font-weight: 600;
  }
  .risk-descr {
    margin: 0 auto;
  }
  .risk-bg {
    background-position: bottom;
    background-size: contain;
    height: 570px;
  }
  .subscribe-img {
    padding-right: 0;
  }
  .subscribe-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .subscribe-img img {
    height: 240px;
  }
  .subscribe-bg {
    background-position-y: -57px;
  }
  .subscribe-form p {
    padding-bottom: 20px;
  }
  .subscribe-form form input[type="submit"] {
    width: 70px;
  }
  .subscribe-bg {
    padding-bottom: 0px;
  }
  .information-blocks {
    padding: 20px 0;
  }
  .information-block {
    width: 100%;
  }
  .footer-main-nav nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-main-bg {
    padding: 30px 0;
  }
  .footer-main-nav {
    padding: 20px 0;
  }
  .footer-main-nav nav a {
    margin: 7px 0;
  }
  .footer-main-text p {
    font-size: 13px;
  }
  .footer-main-copy p {
    padding: 20px 0;
  }
  .container {
    padding: 0 15px;
  }
  .package-wrap {
    padding-top: 70px;
  }
  .topline p {
    font-size: 20px;
  }
}

@media screen and (max-width: 550px) {
  .package__block {
    width: 100%;
  }
  .shop-now {
    display: none;
  }
  .header__menu_shop .shop-cart {
    margin-left: 0px;
  }
  .header__menu_nav img {
    height: 20px;
  }
  .header__logo img {
    width: 242px;
  }
  .header__logo {
    padding-top: 20px;
  }
  .header__menu {
    padding-top: 20px;
  }
  .header__parallax-viewport {
    padding-top: 17px;
  }
  .header__parallax-viewport img {
    height: 250px;
  }
  header {
    min-height: 89vh;
  }
}
