$color_main: #4a306d

$fonts_Montserrat : 'Montserrat', sans-serif
$fonts_Roboto : 'Roboto', sans-serif

body
  position: relative
  font-size: 20px
  margin: 0 auto
  color: #fff
  font-family: $fonts_Montserrat
  overflow-x: hidden
  background-color: #fffad5

.v-center
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)

.container
  max-width: 1152px
  padding: 0 8px
  width: 100%
  box-sizing: border-box
  margin: 0 auto