.links__item-opa
  color: #79a50b
.footer-forms
  &-nav
    border-top: solid 2px #6c6c6c
    padding: 50px 0
    nav
      display: flex
      align-items: center
      justify-content: center
      a
        font-size: 16px
        font-weight: normal
        font-style: normal
        font-stretch: normal
        line-height: normal
        letter-spacing: normal
        text-align: center
        color: $color_main
        margin: 0 7px

.cart-form
  display: none
  &.active
    display: block
  h3
    font-size: 20px
    font-weight: 500
    letter-spacing: normal
    color: #303030
    margin-bottom: 20px
    line-height: 1
  .field-wrap
    border-radius: 10px
    border: solid 1px #6c6c6c
    position: relative
    overflow: hidden
    margin-bottom: 20px
    &:focus
      box-shadow: 0 0 0 2px #803087
    label
      position: absolute
      opacity: 0
      transition: 0.2s
    input
      display: block
      -webkit-box-sizing: border-box
      box-sizing: border-box
      width: 100%
      padding: 0.94em 0.8em
      word-break: normal
      background: transparent
      border: none
      font-size: 18px
      line-height: 1
  &-discount,
  &-coast,
  &-total
    border-bottom: solid 2px #6c6c6c
    padding: 30px 0
  &-product
    padding-top: 0
    &-package
      font-size: 14px
      font-weight: 500
      font-style: normal
      font-stretch: normal
      line-height: normal
      letter-spacing: normal
      color: #303030
      display: flex
      align-items: center
      justify-content: space-between
      border-bottom: solid 2px #6c6c6c
      padding: 30px 0
      &:first-child
        padding-top: 0
      &>*
        display: flex
        align-items: center
  &-total
    border: none
  &-page
    padding-bottom: 50px
  &-btn
    font-family: $fonts_Roboto
    font-size: 32px
    font-weight: 500
    text-align: center
    text-transform: uppercase
    color: #fff
    background-color: $color_main
    border-radius: 20px
    display: inline-block
    padding: 10px 29px
    transition: 0.3s
    border: none
    min-height: 78px
    max-width: 378px
    width: 100%
    &:hover
      background-color: #79a50b
      color: #fff
      transition: 0.3s
    span
      display: block
      font-size: 20px
      padding-top: 6px
  &-please
    font-size: 14px
    font-weight: normal
    font-style: italic
    font-stretch: normal
    line-height: normal
    letter-spacing: normal
    text-align: right
    color: #6c6c6c
  &-check
    margin-bottom: 30px
    margin-top: 10px
    label
      font-size: 16px
      color: #6c6c6c
  &-billing
    .field-wrap.radio-cart
      display: flex
      align-items: center
      margin: 0
      border-radius: 0px
      padding: 15px 13px
      &:first-child
        border-radius: 10px 10px 0 0
        border-bottom: none
      input
        width: auto
        outline: none
      label
        position: static
        opacity: 1
        color: #303030
        padding-left: 10px
  &-shipping
    border-radius: 10px
    border: solid 1px #6c6c6c
    position: relative
    overflow: hidden
    margin-bottom: 30px
    .field-wrap
      margin: 0
      border: none
      border-radius: 0
      display: flex
      align-items: center
      padding: 0 15px
      p
        font-size: 18px
        color: #303030
      input
        font-size: 18px
        color: #6c6c6c
        max-width: 325px
        padding: 0.54em 0.8em
      a
        font-size: 18px
        color: #4a306d
      &:first-child
        border-bottom: solid 2px #6c6c6c
  &-payment
    h3
      margin: 0
    p
      font-size: 16px
      font-weight: normal
      font-style: normal
      font-stretch: normal
      line-height: normal
      letter-spacing: normal
      text-align: left
      color: #6c6c6c
      margin-bottom: 20px
      margin-top: 5px
  &-information
    padding-bottom: 14px
  &-flex
    display: flex
    justify-content: space-between
    &-left
      max-width: 560px
      width: 100%
      .btn-right
        text-align: right
        margin: 30px 0
    &-right
      max-width: 464px
      width: 100%
    &-input
      display: flex
      justify-content: space-between
      &.c-2 > *
        width: 48.5%
      &.c-3 > *
        width: 31%
  &-apply
    font-family: $fonts_Roboto
    font-size: 20px
    font-weight: 500
    font-style: normal
    font-stretch: normal
    letter-spacing: normal
    text-align: center
    color: #fff
    text-transform: uppercase
    border-radius: 10px
    background-color: #6c6c6c
    display: inline-block
    line-height: 56px
    width: 176px
    transition: 0.3s
    &:hover
      background-color: $color_main
      transition: 0.3s
  &-coast
    p
      font-size: 18px
      font-weight: 500
      font-style: normal
      font-stretch: normal
      line-height: 1
      letter-spacing: normal
      text-align: left
      color: #303030
      display: flex
      justify-content: space-between
      align-items: center
      &:first-child
        padding-bottom: 20px
      span
        font-size: 14px
        font-weight: 600
  &-total
    p
      font-size: 20px
      font-weight: 500
      font-style: normal
      font-stretch: normal
      line-height: normal
      letter-spacing: normal
      color: #303030
      display: flex
      justify-content: space-between
      align-items: center
      span
        font-size: 24px
        font-weight: 600
  .billing-cart
    border: solid 1px #6c6c6c
    border-top: none
    padding: 10px
    background-color: rgba(255, 255, 255, 0.25)

.discount-flex
  display: flex
  justify-content: space-between
  .field-wrap
    margin: 0
    width: 100%
    margin-right: 16px

.back-to
  font-size: 14px
  font-weight: normal
  font-style: normal
  font-stretch: normal
  line-height: normal
  letter-spacing: normal
  text-align: left
  color: #4a306d
  margin-top: 10px
  display: inline-block
  span
    background-image: url("../img/back-to.svg")
    width: 7px
    height: 13px
    background-position: center
    display: inline-block
    margin-right: 10px

.form-2
  .field-wrap
    display: flex
    align-items: center
    justify-content: space-between
    &:first-child
      margin-bottom: 30px
    p
      font-size: 18px
      color: #303030
      max-width: 180px
      width: 100%
      padding-left: 15px
    a
      font-size: 18px
      color: #4a306d
      margin: 0 15px

.product-package
  &-num
    padding-right: 45px
    padding-left: 15px
    font-size: 20px
    font-weight: 600
    font-style: normal
    font-stretch: normal
    line-height: normal
    letter-spacing: normal
    color: #6c6c6c
    span
      cursor: pointer
    .num-min
      position: relative
      top: -1px
      &+ span
        width: 25px
        text-align: center
        display: inline-block
        cursor: auto
  &-wrap
    max-width: 250px
    p
      padding-left: 10px
  &-dollar
    font-weight: 600
    p
      width: 60px
      text-align: right
  &-img
    height: 102px
    position: relative
    display: inline-block
    span
      position: absolute
      top: 0
      right: -26px
      background-color: $color_main
      border-radius: 50%
      width: 20px
      height: 20px
      display: block
      color: #fff
      line-height: 20px
      text-align: center
    img
      width: auto
      height: inherit
      display: block

.links__item-opa.active
  color: #303030